body {
	font: 76% verdana;
}

.bgCover {
	background: #000;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	overflow: hidden
}

.overlayBox {
	border: 5px solid #09F;
	position: absolute;
	display: none;
	width: 500px;
	height: 300px;
	background: #fff;
}

.overlayContent {
	padding: 10px;
}

.closeLink {
	float: right;
	color: red;
}

a:hover {
	text-decoration: none;
}

h2 {
	padding: 5px;
	margin: 0;
}